#imgUnit{
    float:left;
    padding-right:5%;
    
}
#unitName{
    float:center;
    font-family: Runes;
    font-size: 5em;
    border: 1px solid lightgray;
    border-radius: 12px;
    width: 50%;
    margin-left: 20%;
    text-shadow: 2px 2px grey;
    text-align: center;
    box-shadow: 5px 10px;
    padding-top:1%;
}
#detailUnit{
    font-size: 2.42em;
    font-family: Runes;
    color: black;
}

 @font-face {
     font-family: 'Runes';
     src: url('../fonts/miguelFonts/font1.ttf');
 }
 
 main{
     background-image: url('../../img/dust.png');
 }
 
 #imgUnit{
     width:24%;
     
 }