#imgUnit{
    float:left;
    padding-right:5%;
    
}
#unitName{
    float:center;
    font-family: Runes;
    font-size: 5em;
}
#detailUnit{
    font-size: 2.8em;
    font-family: Runes;
    color: black;
}

 @font-face {
     font-family: 'Runes';
     src: url('../fonts/miguelFonts/font1.ttf');
 }
 
 main{
     background-image: url('../../img/dust.png');
 }
 
 #imgUnit{
     width:24%;

 }