.alignCenter{
    margin-top: 8px; 
 }

 .txtRunesStyle{
     padding-left: 5px;
     font-family: Runes;
     font-size: 2.5em;
     font-weight: bold;
     margin-bottom: 0rem;
 }

 .paddingDroite{
     padding-right: 35px; 
 }
 

 @font-face {
     font-family: 'Runes';
     src: url('../fonts/miguelFonts/font1.ttf');
 }


.toolRune .tooltxt{
    visibility: hidden;
    font-family: Runes;
    font-size: 3em;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    height: 60px;
    vertical-align: top;
}

.toolRune:hover .tooltxt{
    visibility: visible;
}
